@keyframes spin {
	from {
		transform: rotate(var(--startDeg));
	}
	to {
		transform: rotate(var(--endDeg));
	}
}

$numberOfWheels: 9;
$numberOfItems: 4;

body {
	margin: 0;
	font-family: sans-serif;
}

.buttonBar {
	position: absolute;
	top: 15px;
	left: 15px;
}

.siteMenu {
	margin: 4em 1em;
	width: 20em;
	height: 20em;
	border-radius: 10em;
	color: white;
	background: repeating-radial-gradient(
		circle,
		#0065f6,
		#0065f6 1em,
		#0084fc 1em,
		#0084fc 2em
	);
	ul {
		position: relative;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	&__item {
		@for $i from 0 through $numberOfItems - 1 {
			&--#{$i} {
				--startDeg: #{0deg + 90deg * $i};
				--endDeg: #{360deg + 90deg * $i};
			}
		}
		position: absolute;
		top: calc(10em - 9px);
		width: 100%;
		&.highlighted {
			text-shadow: 0 0 10px white, 0 0 10px white;
		}
	}
	&__letter {
		display: block;
		position: absolute;
		top: 0;
		animation: spin 2s infinite linear running;
		transition: transform 1s, text-shadow 0.5s 1s;
		.stop & {
			animation-play-state: paused;
		}
		@for $i from 0 through $numberOfWheels - 1 {
			&--#{$i} {
				width: calc(100% - #{$i}em * 2);
				left: #{$i}em;
			}
		}
		&--0 {
			animation-duration: 12s;
		}
		&--1 {
			animation-duration: 5s;
			animation-direction: reverse;
		}
		&--2 {
			animation-duration: 12s;
		}
		&--3 {
			animation-duration: 10s;
		}
		&--4 {
			animation-duration: 3s;
			animation-direction: reverse;
		}
		&--5 {
			animation-duration: 8s;
		}
		&--6 {
			animation-duration: 11s;
			animation-direction: reverse;
		}
		&--7 {
			animation-duration: 7s;
			animation-direction: reverse;
		}
		&--8 {
			animation-duration: 9s;
		}
	}
}
