@keyframes spin {
	from {
		transform: rotate(var(--startDeg));
	}
	to {
		transform: rotate(var(--endDeg));
	}
}

$numberOfWheels: 9;
$numberOfItems: 4;

body {
	margin: 0;
}

.buttonBar {
	position: absolute;
	top: 15px;
	left: 15px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.siteMenu {
	max-width: 100vh;
	position: relative;
	top: calc(50vh - 10px);

	&__letter {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		animation: spin 2s infinite linear running;
		transition: transform 1s;

		.stop & {
			animation-play-state: paused;
		}

		@for $i from 0 through $numberOfWheels - 1 {
			&--#{$i} {
				width: calc(100% - #{$i}em * 2);
				left: #{$i}em;
			}
		}

		&--1 {
			animation-duration: 4s;
			animation-direction: reverse;
		}
		&--2 {
			animation-duration: 12s;
		}
		&--3 {
			animation-duration: 10s;
		}
		&--4 {
			animation-duration: 3s;
			animation-direction: reverse;
		}
		&--5 {
			animation-duration: 8s;
		}
		&--6 {
			animation-duration: 11s;
			animation-direction: reverse;
		}
		&--7 {
			animation-duration: 7s;
			animation-direction: reverse;
		}
		&--8 {
			animation-duration: 9s;
		}
		&--9 {
			animation-duration: 5s;
		}
	}

	&__item {
		@for $i from 0 through $numberOfItems - 1 {
			&--#{$i} {
				--startDeg: #{0deg + 90deg * $i};
				--endDeg: #{360deg + 90deg * $i};
			}
		}
	}
}
